.goals-achieved {
    display: grid;
    grid-template-rows: 150px;
    grid-template-columns: 120px 80px;

    background-color: #F4F6F8;
    border-radius: 25px;

    font-family: 'Molengo', sans-serif;
    font-weight: bold;
    font-size: 10px;
    color: #2A2A3E;

    .item-1 {
      padding-top: 25px;
      padding-left: 20px;

      ul {
        padding-left: 0;

        list-style-type: none;

        li {
          font-family: 'Molengo', sans-serif;
          font-size: 9px;
          color: #878795;

          line-height: 2.2;

          img {
            margin-right: 12px;
          }
        }
      }
    }

    .item-2 {
      img {
        position: absolute;
        margin-top: -8px;
      }
    }
}

@media(max-width: 1280px) {
  .form-control {
    max-width: 100%;
  }
}

@media(max-width: 900px) {
  .form-control {
    max-width: 75%;
  }
}

@media(max-width: 700px) {
  .form-control {
    max-width: 55%;
  }
}
