.main {
  padding-top: 13px;

  .item_1 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 280px 100px;
    grid-gap: 40px;

    margin-bottom: 25px;
  }

  .item_2 {
    display: grid;
    grid-template-rows: 150px;
    grid-template-columns: 420px;
  }

  .item_3 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 420px;
  }

  .item_4 {
    display: grid;
    grid-template-rows: 150px;
    grid-template-columns: repeat(2, 200px);
    grid-gap: 20px;
  }
}